main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}
h1 {
  text-align: center;
  color: blue;
}
body {
  margin: 0%;
  padding: 0%;
  background: linear-gradient(to right, #007f80, #071e53);
}

h1 {
  color: #24ffff;
  text-align: center;
}
input {
  position: absolute;
  left: 40%;
  right: 40%;
}
.robot-grid {
  margin-top: 100px;
  width: 90%;
  height: 500px;
  position: absolute;
  left: 5%;
  right: 5%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.robot-img {
  width: 250px;