
body {
  margin: 0%;
  padding: 0%;
  background: linear-gradient(to right, #007f80, #071e53);
}
.header-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: blue;
}
h1 {
  color: #24ffff;
  text-align: center;
}
input {
  height: 20px;
  padding: 10px;
  width: 200px;
}
.robot-grid {
  padding: 10px;
}
.robot-img {
  text-align: center;
  width: 230px;
  height: 280px;
  background-color: #5cbebe;
}
.robot-img:hover {
  background-color: #eeb20d;
  box-shadow: 0px 0px 0px 5px #eeb20d;
}
.content {
  margin-left: 10%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  padding: 10px;
  margin-top: 80px;
  width: 80%;
}
.content-details {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
  align-items: center;
}
.btn-accueil{
  color:rgb(0, 0, 0);
  font-size:15px;
  background-color: #ffffff;
  width: 230px;
  height: 50px;
  border: none;
}
.btn-accueil:hover{
  cursor: pointer;
  background: #eeb20d;
}
@media only screen and (max-width: 768px){
 
  .header-content{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
  align-items: center;
}
  .content-details {
  display: flex;
  flex-wrap:wrap;
  flex-direction: column-reverse;
  justify-content: center;
  margin-top: 80px;
  width: 100%;
  align-items: center;
}
.btn-accueil{
  color:rgb(0, 0, 0);
  background-color: #eeb20d;
  width: 230px;
  height: 50px;
  border: none;
}
.btn-accueil:hover{
  cursor: pointer;
  background: #eeb20d;
}
input {
  padding: 10px;
  width: 200px;
} 
}